/* general rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #3e4043;
}

a {
    text-decoration: none;
}

p, ol {
    font-size: 0.9em;
    line-height: 1.6em;
    
}

/* header rules */

header {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

}

.header_links {
    font-size: 1.2em;
    margin-top: auto;
    color: #6c7073;
}

.header_menu_items {
    margin-top: auto;
    padding: 0px 10px 5px 0px;
}

.header_left {
    display: flex;
    justify-content: space-around;
    
}

.full-screen {
    display: flex;
    flex-direction: column;
}

.header-menu-full-screen {
    display: flex;
}

.logo-container {
    display: flex;
}

.logo {
    max-width: 15%;
    margin: 20px 10px;
}

.privacy-terms {
    color: #5f6367;
    margin: 18px 0;
    font-weight: 400;
    font-size: 1.3em;

}

.header_right {
    display: flex;
}

.image_container {
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
    
}

.user {
    height: 50px;
    width: 50px;
    object-fit: cover; 
    object-position: top;
    border-radius: 50%;
}

/*main content rules*/

.main_content {
    max-width: 80%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.menu_icon {
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    color: #5f6367;
    
}

.menu_item {
    padding: 10px 0;
    margin: 10px 0;
    font-weight: 300;
}


.faqs {
    padding: 15px;
}

.question, .subtitle {
    font-weight: 400;
}

.question, .answer, .subtitle, .subtext {
    margin-top: 15px;
}

ol {
    margin: 15px;
}

/*footer rules*/

footer {
    min-height: 50px;
    background-color: #f3f3f3;
    
}

.footer-container {
    max-width: 80%;
    margin: auto;
}

.footer_left_side, .footer_right_side {
    display: flex;
    margin-top: 15px;
    
}

.footer_right_side {
    margin-left: 10px;
}

span {
    color: #a4a4a4;
    font-size: 5px;
}

.footer_links {
    font-size: 0.8em;
    color: darkgray;
}

.header_links {
    color: #6c7073;
}

.footer_links, .header_links {
    text-decoration: none;
    padding: 10px; 
}

.fa-globe {
    background-color: #55c2fd;
    padding: 3px 8px;
    border-radius: 2px;
    margin-bottom: 12px;
}

select {
    max-height: 20px;
    margin: 0 10px; 
    border: 1px darkgray solid;
    border-radius: 5px;
}

/*media queries*/

@media only screen and (min-width: 768px) {
    .fa-bars, #faq {
      display: none;
    }

    .header_menu_items, .full-screen {
        display: block;
        border-radius: 0;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
    }

  }

  @media only screen and (max-width: 768px) {
    .fa-bars, #faq {
      display: block;
    }

    .header_menu_items, .full-screen {
        display: none;
    }

    .main_content {
        max-width: 90%;
    }

    .footer-container {
        display: flex;
        flex-direction: column-reverse;
        max-width: 90%;
    }

    .footer_left_side {
        margin-top: 0;
    }

  }

