* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #3e4043;
}

p, ol {
    font-size: 0.9em;
    line-height: 1.6em;
}

header {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    

}

.header_left {
    display: flex;
    justify-content: space-around;
    
}

.header_right {
    display: flex;
}

.image_container {
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
    
}

img {
    height: 50px;
    width: 50px;
    object-fit: cover; 
    object-position: top;
    border-radius: 50%;
}

.main_content {
    max-width: 80%;
    margin: 70px auto 0 auto;
}

.menu_icon {
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    color: #5f6367;
    
}

.menu_item {
    padding: 10px;
    margin: 10px;
    font-weight: 300;
}


.faqs {
    padding: 15px;
}

.question, .answer, .subtitle, .subtext {
    margin-top: 15px;
}

ol {
    margin: 15px;
}

footer {
    min-height: 50px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
}

.footer_left_side, .footer_right_side {
    display: flex;
    margin-top: 15px;
    
}

span {
    color: darkgray;
    font-size: 5px;
}

.footer_links {
    text-decoration: none;
    color: darkgray;
    padding: 10px;
    font-size: 0.8em;
    
}

select {
    max-height: 20px;
    margin: 0 10px; 
    border: 1px darkgray solid;
    border-radius: 5px;
}

